* {
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div{
    margin: 200px;
}
#canvas {
    border: 1px solid black;
    background-color: lightgray;
}